schema/2018v6.1/CorporateIncomeTax/Common/IRS926/IRS926.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 926</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!-- =============================================================== -->
	<!-- =======================  IRS Form 926 ========================= -->
	<!-- =============================================================== -->
	<xsd:element name="IRS926">
		<xsd:annotation>
			<xsd:documentation>IRS Form 926</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS926Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS926">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment GeneralDependencySmall"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS926Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 926</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Part I - U.S. Transferor Information -->
			<!-- Business Name of Transferor or Person Name of Transferor -->
			<xsd:choice minOccurs="0">
				<!-- Name of Transferor -->
				<xsd:element name="TransferorBusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of transferor</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Name of Transferor -->
				<xsd:element name="TransferorPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of transferor</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Identitification Number of Transfer or Missing EIN Reason -->
			<xsd:choice minOccurs="0">
				<!-- Identitification Number of Transferor -->
				<xsd:element name="TransferorEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identitification number of transferor</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Transferor Missing EIN Reason -->
				<xsd:element name="TransferorMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Transferor Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- Identitification Number of Transferor -->
				<xsd:element name="TransferorSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identitification number of transferor</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Owned 10 Percent Foreign Corp. -->
			<xsd:element name="Owned10PercentForeignCorpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Owned 10 percent foreign corp.</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Was Transferor Controlled by 5 or Fewer Domestic Corp.? -->
			<xsd:element name="ControlledBy5OrFewerDomCorpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates the transferor was controlled by 5 or fewer domestic corp.</Description>
						<LineNumber>2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did Transferor Remain in Existence After the Transfer? -->
			<xsd:element name="ExistedAfterTransferInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates transferor remained in existence after the transfer</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Controlling Shareholder -->
			<xsd:element name="ControllingShareholder" type="ControllingShareholderType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Controlling shareholder</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- If the Transferor was a Member of an Affiliated Group filing a Consolidated Return, Was It the Parent Corporation? -->
			<xsd:element name="ParentCorporationInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates it was a parent corporation of an affiliated group filing a consolidated return</Description>
						<LineNumber>2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Name of Parent Corporation -->
			<xsd:element name="ParentCorporationName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of parent corporation</Description>
						<LineNumber>2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EIN of Parent Corporation or Missing EIN Reason -->
			<xsd:choice minOccurs="0">
				<!-- EIN of Parent Corporation -->
				<xsd:element name="ParentCorporationEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN of parent corporation</Description>
							<LineNumber>2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
							<LineNumber>2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Basic Adjustments Under Section 367(a)(5) Made  -->
			<xsd:element name="BasicAdjusmentsSect367a5Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basic adjustments under section 367(a)(5) made</Description>
						<LineNumber>2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BasicAdjustmentUnderSection367a5Statement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Name of Partnership -->
			<xsd:element name="PartnershipName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of partnership</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- EIN of Partnership or EIN Missing Reason -->
			<xsd:choice minOccurs="0">
				<!-- EIN of Partnership -->
				<xsd:element name="PartnershipEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN of Partnership</Description>
							<LineNumber>3a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- EIN of Partnership Missing Reason -->
				<xsd:element name="PartnershipMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN of Partnership missing reason</Description>
							<LineNumber>3a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Partner Pick Up Pro Rata Share of Gain on Transfer -->
			<xsd:element name="PrtnrPickProRataShrGnTrnsfrInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partner pick up pro rata share of gain on transfer</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Partner Disposing Entire Interest in Partnership -->
			<xsd:element name="PrtnrDispsngEntireIntPrtshpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partner disposing entire interest in partnership</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Partner Disposing Interest in a Limited Partnership  -->
			<xsd:element name="PrtnrDisposingIntLtdPrtshpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partner disposing interest in a limited partnership</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part II - Transferee Foreign Corporation Information -->
			<!-- Name of Transferee -->
			<xsd:element name="TransfereeName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of transferee</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Identitification Number of Transferee or EIN Missing Reason -->
			<xsd:choice minOccurs="0">
				<!-- Identitification Number of Transferee -->
				<xsd:element name="TransfereeEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identitification number of transferee</Description>
							<LineNumber>5a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- EIN Missing Reason -->
				<xsd:element name="EINMissingReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN missing reason</Description>
							<LineNumber>5a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Identification Group</Description>
						<LineNumber>5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<!-- Address of Transferee - US Address or Foreign Address -->
			<xsd:choice minOccurs="0">
				<!-- US Address of Transferee -->
				<xsd:element name="TransfereeUSAddress" type="USAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of transferee</Description>
							<LineNumber>6</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Foreign Address of Transferee -->
				<xsd:element name="TransfereeForeignAddress" type="ForeignAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of transferee</Description>
							<LineNumber>6</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Country of Incorporation or Organization of Transferee -->
			<xsd:element name="TransfereeCountryOfIncorpCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Country of incorporation or organization</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Law Characterization of Transferee -->
			<xsd:element name="ForeignLawCharacterizationTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Law Characterization of transferee</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Is the Transferee Foreign Corp of a Controlled Foreign Corp? -->
			<xsd:element name="TransfereeForeignCorpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates the transferee is foreign corp of a controlled foreign corp</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part III - Information Regarding Transfer of Property -->
			<!-- Section A - Cash -->
			<!-- Cash -->
			<xsd:element name="CashPropertyGrp" type="CashInformationRegardingTransferPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cash</Description>
						<LineNumber>a, c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Was Cash the Only Property Transferred -->
			<xsd:element name="CashOnlyPropertyTransferredInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Was cash the only property transferred</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section B - Other Property (other than intangible property subject to section 367(d)) -->
			<xsd:element name="StocksAndSecuritiesPropertyGrp" type="InformationRegardingTransferPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Stocks and securities property</Description>
						<LineNumber>a - e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Inventory Property Section 367d -->
			<xsd:element name="InventoryPropSection367dGrp" type="InformationRegardingTransferPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Inventory property section 367d</Description>
						<LineNumber>a - e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Other Property Not Other Category Section 367d -->
			<xsd:element name="OthPropNotOthCatSection367dGrp" type="InformationRegardingTransferPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other property not other category section 367d</Description>
						<LineNumber>a - e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Built In Loss Property Section 367d -->
			<xsd:element name="BuiltInLossPropSection367dGrp" type="BuiltInLossPropSection367dGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Built in loss property section 367d</Description>
						<LineNumber>a - d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Other Property Section 367d -->
			<xsd:element name="TotalOtherPropSection367dGrp" type="TrdOrBusExcPropTotalGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total other property section 367d</Description>
						<LineNumber>c - e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did the Transferor Transfer Stock or Securities Subject to Section 367(a) With Respect to Which a Gain Recognition Agreement was Filed -->
			<xsd:element name="StockOrSecuritiesTransferInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the transferor transfer stock or securities subject to section 367(a) with respect to which a gain recognition agreement was filed</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Branch Asset Transfer -->
			<xsd:element name="ForeignBranchAssetTransferInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign branch asset transfer</Description>
						<LineNumber>12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Domestic Corporation Assets Transfer Foreign Branch -->
			<xsd:element name="DomCorpAstTransferForeignBrInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Domestic corporation assets transfer foreign branch</Description>
						<LineNumber>12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Domestic Corporation U.S. Shareholder -->
			<xsd:element name="DomesticCorpUSShareholderInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Domestic corporation U.S. shareholder</Description>
						<LineNumber>12c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Transferred Loss Amount -->
			<xsd:element name="TransferredLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transferred loss amount</Description>
						<LineNumber>12d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did the Transferor Transfer Property Described in Section 936(h)(3)(B) -->
			<xsd:element name="IntangiblePropertyTrnsfrInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the transferor transfer property described in section 936(h)(3)(B)</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section C -  Intangible Property Subject to Section 367(d) -->
			<xsd:element name="IntangiblePropertyDetailGrp" type="IntangiblePropertyDetailGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible Property Detail</Description>
						<LineNumber>a - f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Intangible Property Total -->
			<xsd:element name="IntangiblePropertyTotalGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible property transfer detail</Description>
						<LineNumber>d - f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<!-- Arm's length Price on Date of Transfer -->
						<xsd:element name="TransferDtArmLengthPriceAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Arm's length price on date of transfer</Description>
									<LineNumber>d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Cost or Other Basis -->
						<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Cost or other basis</Description>
									<LineNumber>e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Income Inclusion for Year of Transfer (See Instructions) -->
						<xsd:element name="IncomeInclusionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Income inclusion for year of transfer (see instructions)</Description>
									<LineNumber>f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Did the Transferor Transfer any Intangible Property That, at the Time of the Transfer, had a Useful Life Reasonably Anticipated to Exceed Twenty Years -->
			<xsd:element name="UsefulLifeTransferInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the transferor transfer any intangible property that, at the time of the transfer, had a useful life reasonably anticipated to exceed twenty years</Description>
						<LineNumber>14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- At the Time of the Transfer, did any of the Transferred Intangible Property Have an Indefinite Useful Life -->
			<xsd:element name="IndfntUsefulLifeTransferInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>At the time of the transfer, did any of the transferred intangible property have an indefinite useful life</Description>
						<LineNumber>14b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did the Transferor Choose to Apply the 20-Year Inclusion Period Provided Under Regulations Section 1.367(d)-1(c)(3)(ii) for any Intangible Property -->
			<xsd:element name="Apply20YearInclusionPeriodInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the transferor choose to apply the 20-year inclusion period provided under Regulations section 1.367(d)-1(c)(3)(ii) for any intangible property</Description>
						<LineNumber>14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- If the Answer to Line 15c is "Yes," Enter the Total Estimated Anticipated Income or Cost Reduction Attributable to the Intangible Property's, or Properties', as Applicable, use(s) Beyond the 20-Year Period Described in Regulations Section 1.367(d)-1(c)(3)(ii) -->
			<xsd:element name="LimitationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>If the answer to line 15c is "Yes," enter the total estimated anticipated income or cost reduction attributable to the intangible property's, or properties', as applicable, use(s) beyond the 20-year period described in Regulations section 1.367(d)-1(c)(3)(ii)</Description>
						<LineNumber>14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Was any Intangible Property Transferred Considered or Anticipated to be, at the Time of the Transfer or at any Time Thereafter, a Platform Contribution as Defined in Regulations Section 1.482-7(c)(1) -->
			<xsd:element name="IntngblPropTrnsfrContriInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Was any intangible property transferred considered or anticipated to be, at the time of the transfer or at any time thereafter, a platform contribution as defined in Regulations section 1.482-7(c)(1)</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Supplemental Part III Information Required To Be Reported (see instructions) -->
			<!-- Supplemental Information -->
			<xsd:element name="SupplementalInformationTxt" type="ShortExplanationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Part IV - Additional Information Regarding Transfer of Property -->
			<xsd:element name="TransferorsBeforeTransferIntRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transferor's interest before transfer</Description>
						<LineNumber>16a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Transferor's Interest After Transfer -->
			<xsd:element name="TransferorsAfterTransferIntRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transferor's interest after transfer</Description>
						<LineNumber>16b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Type of Nonrecognition Transaction -->
			<xsd:element name="NonrecognitionTransactionTxt" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of nonrecognition transaction</Description>
						<LineNumber>17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Transfer Subject to Gain Under Section 904(f)(3) -->
			<xsd:element name="TransferGainUnderSect904f3Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transfer subject to gain under section 904(f)(3)</Description>
						<LineNumber>18a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GainRecognizedUnderSection904f3OnTransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Transfer Subject to Gain Under Section 904(f)(5)(F) -->
			<xsd:element name="TransferGainUnderSect904f5FInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transfer subject to gain under section 904(f)(5)(F)</Description>
						<LineNumber>18b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GainRecognizedUnderSection904f5FOnTransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Transfer Subject to Recapture Under Section 1503(d) -->
			<xsd:element name="TransferRcptrUndSect1503dInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transfer subject to recapture under section 1503(d)</Description>
						<LineNumber>18c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RecaptureUnderSection1503dOnTransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Transfer Subject to Exchange Gain Under Section 987 -->
			<xsd:element name="TrnsfrExchGainUndSect987Ind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transfer subject to exchange gain under section 987</Description>
						<LineNumber>18d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ExchangeGainRecognizedUnderSection987TransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!-- Did Transfer Result from Change Classification? -->
			<xsd:element name="ResultedInChangeClsfInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indicates transfer resulted from change classification</Description>
						<LineNumber>19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did a Domestic Corporation Make a Distribution of Property Covered by Section 367(e)(2) (See Instructions)?. If "Yes," Complete Lines 21b and 21c. -->
			<xsd:element name="CoverPropertyDistributionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did a domestic corporation make a distribution of property covered by section 367(e)(2) (see instructions)?. If "Yes," complete lines 21b and 21c.</Description>
						<LineNumber>20a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Enter the Total Amount of Gain or Loss Recognized Pursuant to Regulations Section 1.367(e)-2(b) -->
			<xsd:element name="RecognizeTotalGainLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total amount of gain or loss recognized pursuant to Regulations section 1.367(e)-2(b)</Description>
						<LineNumber>20b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Did the Domestic Corporation not Recognize Gain or Loss on the Distribution of Property Because the Property was used in the Conduct of U.S. Trade or Business Under Regulations Section 1.367(e)-2(b)(2)? -->
			<xsd:element name="PropDistriGainLossNotRcgnzInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the domestic corporation not recognize gain or loss on the distribution of property because the property was used in the conduct of U.S. trade or business under Regulations section 1.367(e)-2(b)(2)?</Description>
						<LineNumber>20c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Section 355 Stock Distribution -->
			<xsd:element name="Section355StockDistributionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 355 stock distribution</Description>
						<LineNumber>21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for repeating group in Part I - Controlling Shareholder -->
	<xsd:complexType name="ControllingShareholderType">
		<xsd:sequence>
			<!-- Controlling Shareholder's Name -->
			<xsd:element name="ControllingShareholderName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Controlling shareholder name</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Controlling Shareholder's Identification Number or EIN Missing Reason -->
			<xsd:choice minOccurs="0">
				<xsd:element name="ControllingShareholderEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN of Controlling shareholder</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ControllingShareholderSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN of Controlling shareholder</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- EIN Missing Reason -->
				<xsd:element name="EINMissingReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN missing reason</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for repeating group in Part III - Information Regarding Transfer of Property -->
	<xsd:complexType name="InformationRegardingTransferPropertyType">
		<xsd:sequence>
			<!-- Date of Transfer -->
			<xsd:element name="TransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of transfer</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Description of Property -->
			<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property</Description>
						<LineNumber>b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost or Other Basis -->
			<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gain Recognized on Transfer -->
			<xsd:element name="GainRecognizedOnTransferAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain recognized on transfer</Description>
						<LineNumber>e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for Cash repeating group in Part III - Information Regarding Transfer of Property -->
	<xsd:complexType name="CashInformationRegardingTransferPropertyType">
		<xsd:sequence>
			<!-- Date of Transfer -->
			<xsd:element name="TransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of transfer</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for repeating group in Part III - Information Regarding Transfer of Property -->
	<xsd:complexType name="TrdOrBusExcPropTotalGrpType">
		<xsd:sequence>
			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost or Other Basis -->
			<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gain Recognized on Transfer -->
			<xsd:element name="GainRecognizedOnTransferAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain recognized on transfer</Description>
						<LineNumber>e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type for repeating group in Part III - Intangible Property Detail -->
	<xsd:complexType name="IntangiblePropertyDetailGrpType">
		<xsd:sequence>
			<!-- Date of Transfer -->
			<xsd:element name="TransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of transfer</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Description of Property -->
			<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property</Description>
						<LineNumber>b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Useful Life -->
			<xsd:element name="UsefulLifeDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Useful life</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Arm's Length Price on Date of Transfer -->
			<xsd:element name="TransferDtArmLengthPriceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Arm's length price on date of transfer</Description>
						<LineNumber>d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost or Other Basis -->
			<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Income Inclusion for Year of Transfer (See Instructions) -->
			<xsd:element name="IncomeInclusionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income inclusion for year of transfer (see instructions)</Description>
						<LineNumber>f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for repeating group in Part III - Built In Loss Prop Section 367d -->
	<xsd:complexType name="BuiltInLossPropSection367dGrpType">
		<xsd:sequence>
			<!-- Date of Transfer -->
			<xsd:element name="TransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of transfer</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Description of Property -->
			<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property</Description>
						<LineNumber>b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost or Other Basis -->
			<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
