schema/2018v6.1/CorporateIncomeTax/Common/IRS5471ScheduleM/IRS5471ScheduleM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 5471 Schedule M</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- =============================================================== -->
	<!-- ===============  IRS Form 5471 Schedule M ===================== -->
	<!-- =============================================================== -->
	
	<xsd:element name="IRS5471ScheduleM">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5471 Schedule M</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5471ScheduleMType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5471ScheduleM">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="IRS5471ScheduleMType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5471 Schedule M</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<!-- Choice between: Name of Person OR Business Filing Form 5471  -->
			<xsd:choice minOccurs="0">
				<!-- Name of Person Filing Form 5471  -->
				<xsd:element name="PersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of person filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Name of Business Filing Form 5471  -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of business filing Form 5471</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<!-- Identifying Number: choice between SSN, EIN, or "APPLD FOR" or "FOREIGNUS" -->
			<xsd:choice minOccurs="0">
				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing SSN/EIN Reason -->
				<xsd:element name="MissingSSNEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing SSN/EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Name of the Foreign Corporation -->
			<xsd:element name="ForeignCorporationName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of the foreign corporation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Choice between Foreign Corporation EIN or "APPLD FOR" or "FOREIGNUS" -->
			<xsd:choice minOccurs="0">
				<!-- Foreign Corporation EIN -->
				<xsd:element name="ForeignCorporationEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Missing Foreign Corporation EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN Reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Identification Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Foreign Corporation's Functional Currency -->
			<xsd:element name="FunctionalCurrencyDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the relevant functional currency and the exchange rate used throughout this schedule</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Exchange Rate -->
			<xsd:element name="ExchangeRt" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the relevant functional currency and the exchange rate used throughout this schedule</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- U.S. Person Control Foreign Corporation Group -->
			<xsd:element name="USPersonControlFrgnCorpGrp" type="TransactionForeignCorporationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>U.S. person control foreign corporation group</Description>
						<LineNumber>Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Domestic Corporation Partnership U.S. Person Filing Group -->
			<xsd:element name="DomCorpPrtshpUSPersonFilingGrp" type="TransactionForeignCorporationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Domestic corporation partnership U.S. person filing group</Description>
						<LineNumber>Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Other Foreign Corporation Partnership U.S. Person Filing Group -->
			<xsd:element name="OthFrgnCorpPrtshpUSPrsnFlngGrp" type="TransactionForeignCorporationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other foreign corporation partnership U.S. person filing group</Description>
						<LineNumber>Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Ten Percent More U.S. Share Control Foreign Corporation Group -->
			<xsd:element name="TenPctMoreUSShrCtrlFrgnCorpGrp" type="TransactionForeignCorporationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ten percent more U.S. share control foreign corporation group</Description>
						<LineNumber>Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Ten Percent More U.S. Share Any Corporation Control Group -->
			<xsd:element name="TenPctMoreUSShrAnyCorpCtrlGrp" type="TransactionForeignCorporationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ten percent more U.S. share any corporation control group</Description>
						<LineNumber>Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- ===== TransactionForeignCorporationType for Columns b, c, d, e and f ===== -->

	<xsd:complexType name="TransactionForeignCorporationType">
		<xsd:sequence>

			<!-- Sales of Stock in Trade -->
			<xsd:element name="InventorySalesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sales of stock in trade (inventory)</Description>
						<LineNumber>Schedule M Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Sale of Tangible Property -->
			<xsd:element name="TangiblePropertySalesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sales of tangible property</Description>
						<LineNumber>Schedule M Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Sales of Property Rights -->
			<xsd:element name="PropertyRightsSalesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sales of property rights (patents, trademarks, etc.)</Description>
						<LineNumber>Schedule M Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Platform Contribution Transaction Payments Received -->
			<xsd:element name="PlatformContributionRcvdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Platform contribution transaction payments received</Description>
						<LineNumber>Schedule M Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost Sharing Transaction Payments Received -->
			<xsd:element name="CostSharingReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost sharing transaction payments received</Description>
						<LineNumber>Schedule M Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Compensation Received For Technical, Managerial, Engineering, Construction, or Like Services -->
			<xsd:element name="CompensationRcvdForCrtnSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Compensation received for technical, managerial, engineering, construction, or like services</Description>
						<LineNumber>Schedule M Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Commissions Received -->
			<xsd:element name="CommissionsReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Commissions received</Description>
						<LineNumber>Schedule M Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rents, Royalties, and Licensing Fees Received -->
			<xsd:element name="RentsRoyaltiesLcnsFeesRcvdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rents, royalties, and licensing fees received</Description>
						<LineNumber>Schedule M Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Hybrid Dividends Received -->
			<xsd:element name="HybridDividendsReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Hybrid dividends received</Description>
						<LineNumber>Schedule M Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Dividends Received -->
			<xsd:element name="DividendsReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividends received</Description>
						<LineNumber>Schedule M Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest Received -->
			<xsd:element name="InterestReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest received</Description>
						<LineNumber>Schedule M Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Premiums Received for Insurance or Reinsurance -->
			<xsd:element name="InsReinsPremRcvdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Premiums received for insurance or reinsurance</Description>
						<LineNumber>Schedule M Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Transactions Received -->
			<xsd:element name="TotalTransactionsReceivedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 1 through 12</Description>
						<LineNumber>Schedule M Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Purchases of Stock in Trade -->
			<xsd:element name="InventoryPurchaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purchases of stock in trade (inventory)</Description>
						<LineNumber>Schedule M Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Purchases of Tangible Property Other Than Stock in Trade -->
			<xsd:element name="TangiblePropertyPurchaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purchases of tangible property other than Stock in Trade</Description>
						<LineNumber>Schedule M Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Purchases of Property Rights -->
			<xsd:element name="PropertyRightsPrchsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purchases of property rights (patents, trademarks, etc.)</Description>
						<LineNumber>Schedule M Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Platform Contribution Transaction Payments Paid -->
			<xsd:element name="PlatformContributionPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Platform contribution transaction payments paid</Description>
						<LineNumber>Schedule M Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Cost Sharing Transaction Payments Paid -->
			<xsd:element name="CostSharingPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost sharing transaction payments paid</Description>
						<LineNumber>Schedule M Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Compensation Paid for Technical, Managerial, Engineering, Construction, or like Services -->
			<xsd:element name="CompensationPaidForCrtnSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Compensation paid for technical, managerial, engineering, construction, or like services</Description>
						<LineNumber>Schedule M Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Commissions Paid -->
			<xsd:element name="CommissionsPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Commissions paid</Description>
						<LineNumber>Schedule M Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Rents, Royalties, and Licensing Fees Paid -->
			<xsd:element name="RentsRoyaltiesLicenseFeesPdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rents, royalties, and licensing fees paid</Description>
						<LineNumber>Schedule M Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Hybrid Dividends Paid -->
			<xsd:element name="HybridDividendsPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Hybrid dividends paid</Description>
						<LineNumber>Schedule M Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Dividends Paid -->
			<xsd:element name="DividendsPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividends paid (exclude hybrid dividends paid)</Description>
						<LineNumber>Schedule M Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Interest Paid -->
			<xsd:element name="InterestPaidAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest paid</Description>
						<LineNumber>Schedule M Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Premiums Paid -->
			<xsd:element name="InsReinsPremPdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Premiums paid</Description>
						<LineNumber>Schedule M Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Transactions Paid -->
			<xsd:element name="TotalTransactionsPdAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 14 through 25</Description>
						<LineNumber>Schedule M Line 26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Accounts Payable -->
			<xsd:element name="AccountsPayableAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accounts payable</Description>
						<LineNumber>Schedule M Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Amounts Borrowed -->
			<xsd:element name="BorrowedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amounts borrowed (enter the maximum loan balance during the year)</Description>
						<LineNumber>Schedule M Line 28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Accounts Receivable -->
			<xsd:element name="AccountsReceivableAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accounts receivable</Description>
						<LineNumber>Schedule M Line 29</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Amounts loaned -->
			<xsd:element name="LoanAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amounts loaned (enter the maximum loan balance during the year)</Description>
						<LineNumber>Schedule M Line 30</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
