schema/2018v6.1/CorporateIncomeTax/Common/IRS3468/IRS3468.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 3468</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ====================== IRS Form 3468 ============================ -->
	<!-- =============================================================== -->

	<xsd:element name="IRS3468">
		<xsd:annotation>
			<xsd:documentation>IRS Form 3468</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS3468Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS3468">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment Sect14812b2viiiAdjBasisOfBuildingStatement"/>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS3468Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 3468</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I - Information Regarding the Election To Treat the Lessee as the Purchaser of InvestmentCredit Property -->

			<!-- Name Of Lessor -->
			<xsd:element name="LessorNm" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of lessor</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="NameLine1Type">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="MultipleLesseePropertyStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Address Of Lessor -->
			<xsd:choice minOccurs="0">

				<!-- US Address Of Lessor -->
				<xsd:element name="LessorUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of lessor</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address Of Lessor -->
				<xsd:element name="LessorForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of lessor</Description>
							<LineNumber>2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Description Of Property -->
			<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Treated As Acquired Property -->
			<xsd:element name="TreatedAsAcquiredPropertyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount treated as acquired property</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II - Qualifying Advanced Coal Project Credit, Qualifying Gasification Project Credit, and Qualifying Advanced Energy Project Credit -->

			<!-- Integrated Gas Combined Cycle Property Investment Basis -->
			<xsd:element name="InvstIntgrtGasCombCycPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Integrated gas combined cycle property investment basis</Description>
						<LineNumber>5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Gas Combined Cycle Property Investment Credit -->
			<xsd:element name="CalcGasCombCycPropInvstCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated gas combined cycle property investment credit</Description>
						<LineNumber>5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Advanced Coal Based Technology Amount -->
			<xsd:element name="AdvancedCoalBaseTechnologyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Advanced coal based technology amount</Description>
						<LineNumber>5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Advanced Coal Based Technology Amount -->
			<xsd:element name="CalcAdvancedCoalBaseTechAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated advanced coal based technology amount</Description>
						<LineNumber>5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Advanced Coal Based Technology Amount -->
			<xsd:element name="QlfyAdvCoalBasedTechAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified advanced coal based technology amount</Description>
						<LineNumber>5c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Advanced Coal Based Technology Amount -->
			<xsd:element name="CalcAdvCoalBasedTechAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated advanced coal based technology amount</Description>
						<LineNumber>5c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Advanced Coal Project Credit Amount -->
			<xsd:element name="TotalQlfyAdvncCoalProjCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total qualified advanced coal project credit amount</Description>
						<LineNumber>5d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualifying Gasification Property Basis -->
			<xsd:element name="QlfyGasificationPropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualifying gasification property basis</Description>
						<LineNumber>6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Qualified Gasification Project Credit -->
			<xsd:element name="CalcQlfyGasificationPropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated qualified gasification project credit</Description>
						<LineNumber>6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Qualified Investment Property Basis -->
			<xsd:element name="OtherQlfyInvstPropertyBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other qualified investment property basis</Description>
						<LineNumber>6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Other Qualified Investment Property Credit -->
			<xsd:element name="CalcOtherQlfyInvstPropCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated other qualified investment property credit</Description>
						<LineNumber>6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Gasification Project Credit -->
			<xsd:element name="TotalQlfyGasificationProjCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Qualified Gasification Project Credit</Description>
						<LineNumber>6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Qualified Investment Advanced Energy -->
			<xsd:element name="BssQlfyInvstAdvncEnergyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis qualified investment advanced energy</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Qualified Investment Advanced Energy -->
			<xsd:element name="CalcBssQlfyInvstAdvncEnergyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis qualified investment advanced energy</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 8 Reserved; Credit Has Expired -->
			
			<!-- Line 8 Reserved; Credit Has Expired  -->
			
			<!-- Unused Credit from Cooperatives Amount -->
			<xsd:element name="UnusedCreditFromCoopAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unused credit from cooperatives amount</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Advanced Coal Gas And Energy Credit Amount -->
			<xsd:element name="TotAdvncCoalGasAndEnergyCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total advanced coal gas and energy credit amount</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III - Rehabilitation Credit and Energy Credit -->

			<!-- Check This Box if You are Electing Under Section 47(d)(5) to Take Your Qualified Rehabilitation Expenditures Into Account for the Tax Year in Which Paid. (or, for Self-Rehabilitated Property, When Capitalized) -->
			<xsd:element name="RehabilitationExpendElectInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check This Box if You are Electing Under Section 47(d)(5) to Take Your Qualified Rehabilitation Expenditures Into Account for the Tax Year in Which Paid</Description>
						<LineNumber>11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RehabilitationCreditClaimedInPriorYearExplanation"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Rehabilitation Period Beginning Date -->
			<xsd:element name="RehabilitationPeriodBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rehabilitation period beginning date</Description>
						<LineNumber>11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rehabilitation Period End Date -->
			<xsd:element name="RehabilitationPeriodEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rehabilitation period end date</Description>
						<LineNumber>11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Basis of Building Amount -->
			<xsd:element name="AdjustedBasisOfBuildingAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted basis of building amount</Description>
						<LineNumber>11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Rehabilitation Expenditures Incurred Amount -->
			<xsd:element name="QlfyRehbltExpendIncurredAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified rehabilitation expenditures incurred amount</Description>
						<LineNumber>11d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pre-1936 Building Amount -->
			<xsd:element name="Pre1936BuildingAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pre-1936 building amount</Description>
						<LineNumber>11e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pre-1936 Building Credit Amount -->
			<xsd:element name="Pre1936BuildingCreditAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pre-1936 building credit amount</Description>
						<LineNumber>11e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="Pre1936BuildingsSchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Certified Historic Structure Amount -->
			<xsd:element name="CertifiedHistoricStructureAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Certified historic structure amount</Description>
						<LineNumber>11f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Certified Historic Structure Credit Amount -->
			<xsd:element name="CertHistoricStructureCrAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Certified historic structure credit amount</Description>
						<LineNumber>11f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="CertifiedHistoricStructuresSchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Other Certified Historic Structure Amount -->
			<xsd:element name="OtherCertifiedHistStrctrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other certified historic structure amount</Description>
						<LineNumber>11g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Certified Historic Structure Credit Amount -->
			<xsd:element name="OtherCertifiedHistStrctrCrAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other certified historic structure credit amount</Description>
						<LineNumber>11g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherCertifiedHistoricStructuresSchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Enter the Assigned NPS Project Number or the Pass-Through Entitys Employer Identification Number -->
			<xsd:choice minOccurs="0">
			
				<!-- NPS Project Number -->
				<xsd:element name="NPSProjectNum" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>NPS project number</Description>
							<LineNumber>11h</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="NPSProjectNumType">
								<xsd:attribute name="referenceDocumentId" type="IdListType"/>
								<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
							<LineNumber>11h</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:choice>

			<!-- Date of NPS Approval -->
			<xsd:element name="NPSApprovalDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of NPS Approval</Description>
						<LineNumber>11i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rehabilitation Credit Electing Large Partnership Amount -->
			<xsd:element name="RehbltCrElectLargePartnerAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rehabilitation credit electing large partnership amount</Description>
						<LineNumber>11j</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Geothermal Energy And Solar Energy Property Basis Amount -->
			<xsd:element name="GthrmlAndSolarEgyPropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Geothermal and solar energy property basis amount</Description>
						<LineNumber>12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Geothermal And Solar  Energy Property Amount -->
			<xsd:element name="CalcGthrmlAndSolarEgyPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated Geothermal and solar energy property amoount</Description>
						<LineNumber>12a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Property Solar Illumination or Energy Basis -->
			<xsd:element name="PropSolarIllmntnOrEgyBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Solar Illumination or energy property basis</Description>
						<LineNumber>12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Property Solar Illumination or Energy Basis -->
			<xsd:element name="CalcPropSolarIllmntnOrEgyAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated Solar Illumination or energy property basis</Description>
						<LineNumber>12b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Fuel Cell Property Basis -->
			<xsd:element name="QualifiedFuelCellPropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified fuel cell property basis</Description>
						<LineNumber>12c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Qualified Fuel Cell Property Basis -->
			<xsd:element name="CalcQlfyFuelCellPropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated qualified fuel cell property basis</Description>
						<LineNumber>12c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Fuel Cell Property Kilowatt Capacity -->
			<xsd:element name="BetweenLmtFuelCellPropKwCapQty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified fuel cell property kilowatt capacity</Description>
						<LineNumber>12d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="LongIntegerType">
						<xsd:totalDigits value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Calculated Qualified Fuel Cell Property Kilowatt Capacity Amount -->
			<xsd:element name="BetweenLmtFuelCellPropKwCapAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated qualified fuel cell property kilowatt capacity amount</Description>
						<LineNumber>12d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Qualified Fuel Cell Property Credit -->
			<xsd:element name="AdjustedQlfyFuelCellPropCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted qualified fuel cell property credit</Description>
						<LineNumber>12e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Qualified Fuel Cell Property Acquired -->
			<xsd:element name="BasisQlfyFuelCellPropAcqAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis qualified fuel cell property acquired</Description>
						<LineNumber>12f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Qualified Fuel Cell Property Acquired -->
			<xsd:element name="CalcBssQlfyFuelCellPropAcqAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis qualified fuel cell property acquired</Description>
						<LineNumber>12f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Applicable Fuel Cell Property Kilowatt Capacity -->
			<xsd:element name="AfterLmtFuelCellPropKwCapQty" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified applicable fuel cell property kilowatt capacity</Description>
						<LineNumber>12g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Applicable Fuel Cell Property Kilowatt Capacity Amount -->
			<xsd:element name="AfterLmtFuelCellPropKwCapAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated applicable fuel cell property kilowatt capacity amount</Description>
						<LineNumber>12g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Basis Qualified Fuel Cell Credit Amouont -->
			<xsd:element name="AdjBssQlfyApplcblFuelCellCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted basis qualified fuel cell credit amouont</Description>
						<LineNumber>12h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Microturbine Property Basis -->
			<xsd:element name="QlfyMicroturbinePropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified microturbine property basis</Description>
						<LineNumber>12i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Qualified Microturbine Property Basis -->
			<xsd:element name="CalcQlfyMicroturbinePropBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated qualified microturbine property basis</Description>
						<LineNumber>12i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Microturbine Property Kilowatt Capacity -->
			<xsd:element name="QlfyMicroturbinePropKwCapQty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified microturbine property kilowatt capacity</Description>
						<LineNumber>12j</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="LongIntegerType">
						<xsd:totalDigits value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Calculated Qualified Microturbine Property Kilowatt Capacity -->
			<xsd:element name="CalcQlfyMcrtrbnPropKwCapAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated qualified microturbine property kilowatt capacity</Description>
						<LineNumber>12j</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Qualified Microturbine Kilowatt Basis -->
			<xsd:element name="AdjQlfyMicroturbineKwBssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted qualified microturbine kilowatt basis</Description>
						<LineNumber>12k</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Of Heat And Power Property Amount -->
			<xsd:element name="BasisOfHeatAndPowerPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of heat and power property amount</Description>
						<LineNumber>12l</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Of Heat And Power Property Amount -->
			<xsd:element name="CalcBasisOfHeatAndPowerPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of heat and power property amount</Description>
						<LineNumber>12l</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Mega Horsepower Percent -->
			<xsd:element name="MegaHorsepowerPct" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Mega horsepower percent</Description>
						<LineNumber>12m</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Heat And Power System Property Credit Amount -->
			<xsd:element name="AdjHeatAndPowerSysPropCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted heat and power system property credit amount</Description>
						<LineNumber>12n</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Of Wind Energy Property Amount -->
			<xsd:element name="BasisOfWindEnergyPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of wind energy property amount</Description>
						<LineNumber>12o</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Of Wind Energy Property Amount -->
			<xsd:element name="CalcBasisOfWindEnergyPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of wind energy property amount</Description>
						<LineNumber>12o</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjusted Basis Of Wind Energy Property Credit Amount -->
			<xsd:element name="AdjBasisOfWindEnergyPropCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted basis of wind energy property credit amount</Description>
						<LineNumber>12p</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Of Wind Energy Construction Erection Amount -->
			<xsd:element name="BssOfWindEgyConstrErctnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of wind energy construction erection amount</Description>
						<LineNumber>12q</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Of Wind Energy Construction Erection -->
			<xsd:element name="CalcBssOfWindEgyConstrErctnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of wind energy construction erection</Description>
						<LineNumber>12q</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Of Geothermal Property Heat Pump System Amount -->
			<xsd:element name="BssGthrmlPropHtPumpSysAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of geothermal property heat pump system amount</Description>
						<LineNumber>12r</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Of Geothermal Property Heat Pump System Amount -->
			<xsd:element name="CalcBssGthrmlPropHtPumpSysAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of geothermal property heat pump system amount</Description>
						<LineNumber>12r</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basis Of Property Placed In Service Amount -->
			<xsd:element name="BssOfPropPlacedInSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of property placed in service amount</Description>
						<LineNumber>12s</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Calculated Basis Of Property Placed In Service Amount -->
			<xsd:element name="CalcBssOfPropPlacedInSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of property placed in service amount</Description>
						<LineNumber>12s</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Basis of Wind Property Placed in Service Amount -->
			<xsd:element name="BssWindPropPlacedInSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of wind property placed in service amount</Description>
						<LineNumber>12t</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Calculated Basis of Wind Property Placed in Service Amount -->
			<xsd:element name="CalcBssWindPropPlacedInSrvcAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of wind property placed in service amount</Description>
						<LineNumber>12t</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Basis of Wind Facility Property Placed in Service for 2018 -->
			<xsd:element name="BssWindPropPlacedInSrvcYr2Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of wind facility property placed in service for 2018</Description>
						<LineNumber>12u</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Calculated Basis of Wind Property Placed in Service Amount for 2018 -->
			<xsd:element name="CalcBssWindPropPlcdSrvcYr2Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of wind property placed in service amount for 2018</Description>
						<LineNumber>12u</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Basis of Wind Facility Property Placed in Service for 2019 -->
			<xsd:element name="BssWindPropPlacedInSrvcYr3Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basis of wind facility property placed in service for 2019</Description>
						<LineNumber>12v</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Calculated Basis of Wind Property Placed in Service Amount for 2019 -->
			<xsd:element name="CalcBssWindPropPlcdSrvcYr3Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Calculated basis of wind property placed in service amount for 2019</Description>
						<LineNumber>12v</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unused Credit From Cooperatives -->
			<xsd:element name="UnusedCrRehbltEgyCrFromCoopAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unused credit from cooperatives</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Of Rehabilitation And Energy Credit Amount -->
			<xsd:element name="TotalInvestmentCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of rehabilitation and energy credit amount</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- NPS Project Number Type -->
	<xsd:simpleType name="NPSProjectNumType">
		<xsd:restriction base="TextType">
			<xsd:pattern value="[A-Za-z0-9\- ]{1,18}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
