schema/2018v6.1/CorporateIncomeTax/Common/IRS8611/IRS8611.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8611</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================ -->
	<!-- =======================  IRS Form 8611 ========================= -->
	<!-- ================================================================ -->

	<xsd:element name="IRS8611">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8611</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8611Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8611">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8611Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8611</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Address of Building: choice between U.S. or foreign address -->
			<xsd:choice minOccurs="0">
				<!-- US Address of Building -->
				<xsd:element name="BuildingUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of building</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Building -->
				<xsd:element name="BuildingForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign addressof building</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!--  Building Identification Number  -->
			<xsd:element name="BIN" type="BINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Building identification number</Description>
						<LineNumber>D</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Date Placed in Service  -->
			<xsd:element name="PlacedInServiceDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date placed in service</Description>
						<LineNumber>E</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Issuer's Name -->
			<xsd:element name="IssuerName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Issuer's name</Description>
						<LineNumber>F(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date of  Issue -->
			<xsd:element name="IssueDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of  issue</Description>
						<LineNumber>F(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Name of Issue -->
			<xsd:element name="IssueNm" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of issue</Description>
						<LineNumber>F(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
					<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Choice between the following: CUSIP number or Missing CUSIP Reason -->
			<xsd:choice minOccurs="0">

				<!-- Cusip Number -->
				<xsd:element name="CUSIPNum" type="CUSIPNumberType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>CUSIP number</Description>
							<LineNumber>F(4)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing CUSIP Reason -->
				<xsd:element name="MissingCUSIPReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing CUSIP reason</Description>
							<LineNumber>F(4)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Enter Total Credits Reported on Form 8586 in Prior Years -->
			<xsd:element name="PYTotalCreditsOnForm8586Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total credits reported on form 8586 in prior years</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credits Included on Line 1 -->
			<xsd:element name="CreditsIncludedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits included on line 1</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credits Subject to Recapture -->
			<xsd:element name="CreditsSubjectToRecaptureAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits subject to recapture</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Recapture Percentage -->
			<xsd:element name="CreditRecapturePercentRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit recapture percentage</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Accelerated Portion of Credit -->
			<xsd:element name="AcceleratedPortionOfCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accelerated portion of credit</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--Percentage Decrease in Qualified Basis -->
			<xsd:element name="DecreaseInQualifiedBasisPctRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Percentage decrease in qualified basis</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Amount of Accelerated Portion Recaptured-->
			<xsd:element name="AcceleratedPrtnRecapturedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount of accelerated portion recaptured</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Enter Recapture Amount from Flow Through Entity -->
			<xsd:element name="FlowThruEntityRecaptureAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter recapture amount from flow through entity</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unused Portion of the Accelerated Amount -->
			<xsd:element name="AcceleratedPrtnOfUnsdCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the unused portion of the accelerated amount</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Recapture  -->
			<xsd:element name="NetRecaptureAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net recapture</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Interest on Line 10 Recapture Amount -->
			<xsd:element name="InterestOnRecaptureAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter interest on line 10 recapture amount</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="section42j5Cd">
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="SECTION 42(j)(5)"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Total Amount Subject To Recapture -->
			<xsd:element name="TotalSubjectToRecaptureAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount subject to recapture</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unused Credits Reduced By the Accelerated Portion -->
			<xsd:element name="UnusedCreditRedByAccelPrtnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unused credits attributable to this building reduced by the accelerated portion</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Recapture Tax -->
			<xsd:element name="RecaptureTaxAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recapture Tax</Description>
						<LineNumber>Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryforward of the Low-Income Housing Credit -->
			<xsd:element name="CarryforwardCreditAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryforward of the low-income housing credit attributable to this building</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Interest on Line 7 Recapture Amount -->
			<xsd:element name="RecaptureAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter interest on line 7 recapture amount</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<!-- Total Recapture Add Lines 7 And 16 -->
			<xsd:element name="TotalRecaptureAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total recapture add lines 7 and 16</Description>
						<LineNumber>Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
