schema/2018v6.1/CorporateIncomeTax/Common/IRS8936/IRS8936.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8936</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8936 ============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8936">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8936</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8936Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8936">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8936Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8936</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I: Tentative Credit -->

			<!-- Vehicle Information -->
			<xsd:element name="QlfyPlugInElecDriveMtrVehCrGrp" type="QlfyPlugInElecDriveMtrVehCrGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II - Credit for Business/Investment Use Part of Vehicle -->
			
			<!-- Total Business Investment Use Amount -->
			<xsd:element name="TotalBusinessInvestmentUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total business investment use amount</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Electric Vehicle Credit Partnership S Corporations Amount -->
			<xsd:element name="QlfyElecVehCrPrtshpSCorpAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified electric vehicle credit partnership S corporations amount</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business Investment Use Part Of Credit -->
			<xsd:element name="BusinessInvstUsePartOfCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business investment use part of credit</Description>
						<LineNumber>Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III - Credit for Personal Use Part of Vehicle -->
			
			<!-- Total Tentative Credit For Personal Use -->
			<xsd:element name="TotalTentativeCrForPrsnlUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total tentative credit for personal use</Description>
						<LineNumber>Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Tax Before Credit And Other Taxes Amount -->
			<xsd:element name="TotalTaxBeforeCrAndOthTaxesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total tax before credit and other taxes amount</Description>
						<LineNumber>Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Electric Vehicle Other Form Credits Amount -->
			<xsd:element name="QlfyElecVehOtherFormCreditsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified electric vehicle other form credits amount</Description>
						<LineNumber>Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Electric Vehicle Adjusted Personal Credit Amount -->
			<xsd:element name="QlfyElecVehAdjPrsnlCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified electric vehicle adjusted personal credit amount</Description>
						<LineNumber>Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Personal Use Part Of Credit -->
			<xsd:element name="PersonalUsePartOfCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Personal use part of credit</Description>
						<LineNumber>Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<!-- Type for repeating group in Part I, Part II and Part III: Vehicle Information -->
	<xsd:complexType name="QlfyPlugInElecDriveMtrVehCrGrpType">
		<xsd:sequence>

			<!-- Vehicle Description - Year, Make, and Model of Vehicle -->
			<xsd:element name="VehicleDescriptionGrp" type="VehicleDescriptionGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle description - Year, Make, and Model of Vehicle</Description>
						<LineNumber>Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Vehicle Identification Number  -->
			<xsd:element name="VIN" type="VINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle identification number </Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Vehicle Placed in Service Date -->
			<xsd:element name="VehiclePlacedInServiceDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle placed in service date</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Vehicle Cost Amount -->
			<xsd:element name="VehicleCostAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle cost amount</Description>
						<LineNumber>Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Phaseout Percentage -->
			<xsd:element name="PhaseoutPct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phaseout percentage</Description>
						<LineNumber>Line 4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Vehicle Tentative Credit Amount -->
			<xsd:element name="VehicleTentativeCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Vehicle tentative credit amount</Description>
						<LineNumber>Line 4c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business Investment Use Percentage -->
			<xsd:element name="BusinessInvestmentUsePct" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business investment use percentage</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business Investment Use Amount -->
			<xsd:element name="BusinessInvestmentUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business investment use amount</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Section 179 Expense Deduction -->
			<xsd:element name="Section179ExpenseDeductionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 179 expense deduction</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Net Business Investment Use Amount -->
			<xsd:element name="NetBusinessInvestmentUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net business investment use amount</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Business Investment Use Ratio Amount -->
			<xsd:element name="BusinessInvestmentUseRatioAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business investment use ratio amount</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!--  Line 10 No Entry: Max Credit Per Vehicle Business Amt (Use Value Preprinted on Form) -->
			
			<!-- Smaller of Maximum Credit or Ratio Amount Business -->
			<xsd:element name="SmallerMaxCreditOrBusRatioAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller of maximum credit or ratio amount business</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Credit For Personal Use -->
			<xsd:element name="TentativeCreditForPrsnlUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative credit for personal use</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tentative Credit for Personal Use Ratio -->
			<xsd:element name="TentativeCrPersonalUseRatioAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative credit for personal use ratio</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Maximum Credit per Vehicle Personal -->
			<xsd:element name="MaxCreditPerVehiclePersonalAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maximum credit per vehicle personal</Description>
						<LineNumber>Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Smaller of Maximum Credit or Ration Amount Personal -->
			<xsd:element name="SmallerMaxCrOrPrsnlRatioAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Smaller of maximum credit or ration amount personal</Description>
						<LineNumber>Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>
