schema/2018v6.1/CorporateIncomeTax/Common/IRS8865ScheduleO/IRS8865ScheduleO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8865 Schedule O</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ============================================================================= -->
	<!-- ======================  IRS Form 8865 Schedule O ============================ -->
	<!-- ============================================================================= -->


	<xsd:element name="IRS8865ScheduleO">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8865 Schedule O</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8865ScheduleOType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8865ScheduleO">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8838P"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8865ScheduleOType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8865 Schedule O</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Name of Transferor -->
			<xsd:element name="TransferorName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of transferor</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Filer's Identifying Number -->

			<xsd:choice>

				<xsd:element name="FilersEIN" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer's EIN number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<xsd:element name="FilersSSN" type="SSNType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer's SSN number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<xsd:element name="MissingEINReasonCd" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Filer's missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Name of Foreign Partnership -->
			<xsd:element name="ForeignPartnershipName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of foreign partnership</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Choice between EIN or Missing EIN Reason "APPLD FOR" or "FOREIGNUS" -->

			<xsd:choice minOccurs="0">

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- Missing EIN Reason -->
				<xsd:element name="FrgnPrtshpMissingEINReasonCd" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>
			
			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Identification Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Is the Partnership a Section 721(c) Partnership (as Defined in Regulation Section 1.721(c)-1T(b)(14)? -->
			<xsd:element name="Section721cPartnershipInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the partnership a section 721(c) partnership (as defined in regulation section 1.721(c)-1T(b)(14)?</Description>
						<LineNumber>Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- If "Yes", was the Gain Deferral Method Applied to Avoid the Recognition of Gain Upon the Contribution of Property? -->
			<xsd:element name="GainDeferralMethodAppliedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>If "Yes", was the gain deferral method applied to avoid the recognition of gain upon the contribution of property?</Description>
						<LineNumber>Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Was any Intangible Property Transferred Considered or Anticipated to be, at the Time of the Transfer or at any Time Thereafter, a Platform Contribution as Defined in Regulations Section 1.482-7(c)(1)? -->
			<xsd:element name="IntngblPropTrnsfrContriInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Was any intangible property transferred considered or anticipated to be, at the time of the transfer or at any time thereafter, a platform contribution as defined in regulations section 1.482-7(c)(1)?</Description>
						<LineNumber>Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I: Transfers Reportable Under Section 6038B -->

			<!-- Cash Date of Transfer -->
			<xsd:element name="CashTransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cash date of transfer</Description>
						<LineNumber>Schedule O Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cash Fair Market Value -->
			<xsd:element name="FairMarketValueCashAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cash fair market value</Description>
						<LineNumber>Schedule O Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Stock, Notes Receivable and Payable, and Other Securities -->
			<xsd:element name="StkNtsRcvblPyblOtherSecGrp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Stock, notes receivable and payable, and other securities</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Inventory -->
			<xsd:element name="InventoryTransfersGrp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Inventory</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tangible Property Used in Trade or Business -->
			<xsd:element name="TngblPropUsedInTradeOrBusGrp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tangible property used in trade or business</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Intangible Property Described in Section 197(f)(9) -->
			<xsd:element name="IntangiblePropSect197f9Grp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible property described in section 197(f)(9)</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Intangible Property, Other Than Intangible Property Described in Section 197(f)(9) -->
			<xsd:element name="IntangiblePropNotSect197f9Grp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible property, other than intangible property described in section 197(f)(9)</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Property -->
			<xsd:element name="OtherPropertyTransfersGrp" type="TransfersReportableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other property</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Fair Market Value on Date of Transfer -->
			<xsd:element name="TotalFairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total fair market value on date of transfer</Description>
						<LineNumber>Schedule O Part I Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Total Cost or Other Basis -->
			<xsd:element name="TotalCostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total cost or other basis</Description>
						<LineNumber>Schedule O Part I Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Gain Recognized on Transfer -->
			<xsd:element name="TotGainRecognizedOnTransferAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total gain recognized on transfer</Description>
						<LineNumber>Schedule O Part I Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Enter the Transferor's Percentage Interest in the Partnership: (a) Before the Transfer -->
			<xsd:element name="TransferorsBeforeTransferIntRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the transferor's percentage interest in the partnership: (a) Before the transfer</Description>
						<LineNumber>Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Enter the Transferor's Percentage Interest in the Partnership: (b) After the Transfer -->
			<xsd:element name="TransferorsAfterTransferIntRt" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the transferor's percentage interest in the partnership: (b) After the transfer</Description>
						<LineNumber>Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Supplemental Information Statement -->
			<xsd:element name="SupplementalInformationTxt" type="ShortExplanationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental Information Statement</Description>
						<LineNumber>Schedule O Part I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II - Dispositions Reportable Under Section 6038B -->

			<!-- Dispositions Reportable -->
			<xsd:element name="DispositionsReportableGrp" type="DispositionsReportableGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dispositions Reportable</Description>
						<LineNumber>Schedule O Part II</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III -->

			<!-- Transfer Subject To Gain -->
			<xsd:element name="TransferRptOnSubjectToGainInd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Transfer subject To gain</Description>
						<LineNumber>Schedule O Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="TransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Transfers Reportable Recurring Type -->
	<xsd:complexType name="TransfersReportableType">
		<xsd:sequence>

			<!-- Date of Transfer -->
			<xsd:element name="TransferDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of transfer</Description>
						<LineNumber>Schedule O Part I Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Description of Property -->
			<xsd:element name="PropertyDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property</Description>
						<LineNumber>Schedule O Part I Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Fair Market Value on Date of Transfer -->
			<xsd:element name="FairMarketValueOnDtOfTrnsfrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value on date of transfer</Description>
						<LineNumber>Schedule O Part I Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost or Other Basis -->
			<xsd:element name="CostOrOtherBasisAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or other basis</Description>
						<LineNumber>Schedule O Part I Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Recovery Period -->
			<xsd:element name="RecoveryPrd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recovery period</Description>
						<LineNumber>Schedule O Part I Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="DecimalType">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Section 704(c) Allocation Method -->
			<xsd:element name="SectionAllocationMethodTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 704(c) allocation method</Description>
						<LineNumber>Schedule O Part I Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="TRADITIONAL"/>
						<xsd:enumeration value="CURATIVE"/>
						<xsd:enumeration value="REMEDIAL"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Gain Recognized on Transfer -->
			<xsd:element name="GainRecognizedOnTransferAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Gain recognized on transfer</Description>
						<LineNumber>Schedule O Part I Column (g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Dispositions Reportable Recurring Type -->
	<xsd:complexType name="DispositionsReportableGrpType">
		<xsd:sequence>

			<!-- Type of Property -->
			<xsd:element name="PropertyDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of property</Description>
						<LineNumber>Schedule O Part II Column(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ShortExplanationType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ContributedPropertyStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Date of Original Transfer -->
			<xsd:element name="TransferDt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of original transfer</Description>
						<LineNumber>Schedule O Part II Column(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DateType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DatesOfTransferStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Date of Disposition -->
			<xsd:element name="DispositionDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of disposition</Description>
						<LineNumber>Schedule O Part II Column(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Manner of Disposition -->
			<xsd:element name="MannerOfDispositionTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Manner of disposition</Description>
						<LineNumber>Schedule O Part II Column(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Gain Recognized by Partnership -->
			<xsd:element name="PartnershipGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain recognized by partnership</Description>
						<LineNumber>Schedule O Part II Column(e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Depreciation Recapture Recognized by Partnership -->
			<xsd:element name="DeprecRcptrRcgnzByPrtshpAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciation recapture recognized by partnership</Description>
						<LineNumber>Schedule O Part II Column(f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gain Allocated to Partner -->
			<xsd:element name="GainAllocatedToPartnerAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain allocated to partner</Description>
						<LineNumber>Schedule O Part II Column(g)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Depreciation Recapture Allocated to Partner -->
			<xsd:element name="DeprecRcptrAllocnToPrtnrAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciation recapture allocated to partner</Description>
						<LineNumber>Schedule O Part II Column(h)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AmtOfRecaptureCalculationStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
