schema/2018v6.1/IndividualIncomeTax/Common/IRS5405/IRS5405.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - IRS Form 5405 Repayment of the First-Time Homebuyer Credit</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!--==================================================================-->
	<!--========================= IRS Form 5405 ==========================-->
	<!--==================================================================-->

	<xsd:element name="IRS5405">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5405</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5405Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5405">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="IRS5405Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5405</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!--Person Name -->
			<xsd:element name="PersonNm" type="PersonNameType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Person Name</Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--Social Security Number -->
			<xsd:element name="SSN" type="SSNType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Social Security Number</Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--Part I - Disposition or Change of Main Home for Which Credit Was Claimed-->
			<xsd:element name="DispositionChangeMainHome" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!--Change Of Main Home Date -->
						<xsd:element name="ChangeOfMainHomeDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Change Of Main Home Date</Description>
									<LineNumber>1</LineNumber>
									<ELFFieldNumber>0130</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Sold Military Extraction Duty Indicator -->
						<xsd:element name="HomeSoldMilitaryExtDutyInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Sold Military Extended Duty Indicator</Description>
									<LineNumber>2</LineNumber>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Sold To Unrelated Person With Gain Indicator -->
						<xsd:element name="HomeSoldToUnrltPrsnWithGainInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Sold To Unrelated Person With Gain Indicator</Description>
									<LineNumber>3a</LineNumber>
									<ELFFieldNumber>0140</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Sold To Unrelated Person No Gain Indicator -->
						<xsd:element name="HomeSoldToUnrltPrsnNoGainInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Sold To Unrelated Person No Gain Indicator</Description>
									<LineNumber>3b</LineNumber>
									<ELFFieldNumber>0150</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Sold To Related Person Indicator -->
						<xsd:element name="HomeSoldToRelatedPersonInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Sold To Related Person Indicator</Description>
									<LineNumber>3c</LineNumber>
									<ELFFieldNumber>0160</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Converted To Business Use Indicator -->
						<xsd:element name="HomeConvertedToBusinessUseInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Converted To Business Use Indicator</Description>
									<LineNumber>3d</LineNumber>
									<ELFFieldNumber>0170</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Transferred To Spouse Or Ex Spouse -->
						<xsd:element name="HomeTransferredToSpouseGrp" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="HomeTransferredToSpouseOrExInd" type="CheckboxType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Home Transferred To Spouse Or Ex Spouse Indicator</Description>
												<LineNumber>3e</LineNumber>
												<ELFFieldNumber>0180</ELFFieldNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SpouseOrExNm" type="PersonNameType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Spouse Or Ex Spouse Name</Description>
												<LineNumber>3e</LineNumber>
												<ELFFieldNumber>0185</ELFFieldNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!--Home Destroyed Condemn New Home Indicator -->
						<xsd:element name="HomeDestrCondemnNewHomeInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Destroyed Condemn New Home Indicator</Description>
									<LineNumber>3f</LineNumber>
									<ELFFieldNumber>0190</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Destroyed Condemn No New Home Indicator -->
						<xsd:element name="HomeDestrCondemnNoNewHomeInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Destroyed Condemn No New Home Indicator</Description>
									<LineNumber>3g</LineNumber>
									<ELFFieldNumber>0200</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--Home Buyer Credit Taxpayer Deceased Indicator -->
						<xsd:element name="HomeBuyerCrTaxpayerDeceasedInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Home Buyer Credit Taxpayer Deceased Indicator</Description>
									<LineNumber>3h</LineNumber>
									<ELFFieldNumber>0210</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!--Part II - Repayment of the Credit-->
			<!-- First Time Home Buyer Credit Claimed Amount -->
			<xsd:element name="FirstTimeHmByrCrClaimedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First Time Home Buyer Credit Claimed Amount</Description>
						<LineNumber>4</LineNumber>
						<ELFFieldNumber>0220</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- First Time Home Buyer Credit Repaid Amount -->
			<xsd:element name="FirstTimeHmByrCrRepaidPYRetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First Time Home Buyer Credit Repaid Amount</Description>
						<LineNumber>5</LineNumber>
						<ELFFieldNumber>0230</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- First Time Home Buyer Net Credit Claimed Amount -->
			<xsd:element name="FirstTimeHmByrNetCrClaimedAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First Time Home Buyer Net Credit Claimed Amount</Description>
						<LineNumber>6</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gain on Sale of Main Home Amount -->
			<xsd:element name="GainOnSaleOfMainHomeAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain on Sale of Main Home Amount</Description>
						<LineNumber>7</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- First Time Home Buyer Repayment Amount -->
			<xsd:element name="FirstTimeHmByrRepaymentAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First Time Home Buyer Repayment Amount</Description>
						<LineNumber>8</LineNumber>
						<ELFFieldNumber>0240</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--Part III - Form 5405 Gain or (Loss) Worksheet -->
			<!-- Selling Price of Home Proceeds Award Amount -->
			<xsd:element name="SellingPriceOfHomeProcAwardAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Selling Price of Home Proceeds Award Amount</Description>
						<LineNumber>9</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Selling Expenses of Home Amountt -->
			<xsd:element name="SellingOfHomeExpensesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Selling Expenses of Home Amount</Description>
						<LineNumber>10</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Realized Amount of Sale of Home -->
			<xsd:element name="MortgSbsdySaleOfHmRealizedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Realized Amount of Sale of Home</Description>
						<LineNumber>11</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Basis of Home Sold Amount -->
			<xsd:element name="AdjustedBasisOfHomeSoldAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Basis of Home Sold Amount</Description>
						<LineNumber>12</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- First Time Home Buyer Net Credit Repaid in Prior Year Return Amount -->
			<xsd:element name="FirstTimeHmByrNetCrRpdPYRetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>First Time Home Buyer Net Credit Repaid in Prior Year Return Amount</Description>
						<LineNumber>13</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Adjusted Basis for Repayment of Credit Amount -->
			<xsd:element name="AdjustedBasisForRepymtCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted Basis for Repayment of Credit Amount</Description>
						<LineNumber>14</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Gain or Loss from Worksheet Amount -->
			<xsd:element name="GainOrLossFromWorksheetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gain or Loss from Worksheet Amount</Description>
						<LineNumber>15</LineNumber>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
