schema/2018v6.1/CorporateIncomeTax/Common/IRS982/IRS982.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 982</Description>
			<TaxYear>2018</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 13, 2019</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 982 ================================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS982">
		<xsd:annotation>
			<xsd:documentation>IRS Form 982</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS982Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS982">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DescribingTransactionsUnderSection1081Statement RequestForVariationFromGeneralRuleSect1082a2Statement"/>

					<xsd:attribute name="filedPursuantToSect30191002Cd">
						<xsd:simpleType>
							<xsd:restriction base="StringType">
								<xsd:enumeration value="FILED PURSUANT TO SECTION 301.9100-2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS982Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 982</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- ================Part I: General Information (see instructions) ================ -->

			<!-- Discharge Of Indebtedness In A Title 11 Case -->
			<xsd:element name="DschrgOfIndbtInATitle11CaseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded is due to (check applicable box(es)): Discharge of indebtedness in a title 11 case</Description>
							<LineNumber>Part I Line 1(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Discharge Of Indebtedness To The Extent Insolvent (not in a title 11 case) -->
			<xsd:element name="DschrgIndbtExtentInsolventInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded is due to (check applicable box(es)): Discharge of indebtedness to the extent insolvent (not in a title 11 case)</Description>
							<LineNumber>Part I Line 1(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Discharge Of Qualified Farm Indebtedness -->
			<xsd:element name="DischargeOfQlfyFarmIndbtInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded is due to (check applicable box(es)): Discharge of qualified farm indebtedness</Description>
							<LineNumber>Part I Line 1(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Discharge Of Qualified Real Prop Business Indebtedness -->
			<xsd:element name="DschrgQlfyRealPropBusIndbtInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded is due to (check applicable box(es)): Discharge of qualified real prop business indebtedness</Description>
							<LineNumber>Part I Line 1(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Discharge Of Qualified Principal Residence -->
			<xsd:element name="DischargeOfQualifiedPrinResInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded is due to (check applicable box(es)): Discharge of qualified principal residence</Description>
							<LineNumber>Part I Line 1(e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Amount Of Discharged Indebtedness Excluded from Gross Income -->
			<xsd:element name="TotalDischargedIndebtednessAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount of discharged indebtedness excluded from gross income</Description>
							<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Treat All Property As If It Were Depreciable Property (Yes/No Box) -->
			<xsd:element name="TreatAllAsDeprecPropBoxInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do you elect to treat all real property described in section 1221(a)(1), relating to property held for sale to customers in the ordinary course of a trade or business, as if it were depreciable property?</Description>
							<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ================Part II: Reduction of Tax Attributes ================ -->

			<!-- Amount Excluded From Income For A Discharge Of Qualified Real Property -->
			<xsd:element name="ExcldForDschrgQlfyRealPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>For a discharge of qualified real property business indebtedness, applied to reduce the basis of depreciable real property 4</Description>
							<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income Under Section 108(b)(5) -->
			<xsd:element name="ExcludedUnderSection108b5Amt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>That you elect under section 108(b)(5) to apply first to reduce the basis (under section 1017) of depreciable property</Description>
							<LineNumber>Part II Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ElectionToReduceBasisOfDeprecPropUnderIRC1017Statement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce Net Operating Loss -->
			<xsd:element name="ExcludedToReduceNOLAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any net operating loss that occurred in the tax year of the discharge or carried over to the tax year of the discharge</Description>
							<LineNumber>Part II Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce General Business Credit -->
			<xsd:element name="ExcludedToReduceGenBusCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any general business credit carryover to or from the tax year of the discharge</Description>
							<LineNumber>Part II Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce Minimum Tax Credit -->
			<xsd:element name="ExcludedToReduceMinimumTxCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any minimum tax credit as of the beginning of the tax year immediately after the tax year of the discharge</Description>
							<LineNumber>Part II Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce Net Capital Loss -->
			<xsd:element name="ExcludedToReduceNetCapLossAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any net capital loss for the tax year of the discharge including any capital loss carryovers to the tax year of the discharge</Description>
							<LineNumber>Part II Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce Basis Of Nondepreciable And Depreciable Property -->
			<xsd:element name="ExcludedToReduceBasisOfPropAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce the basis of nondepreciable and depreciable property if not reduced on line 5. DO NOT use in the case of discharge of qualified farm indebtedne</Description>
							<LineNumber>Part II Line 10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Excluded From Income To Reduce Basis Of Principal Residence -->
			<xsd:element name="ExcludedToReducePrinResAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce the basis of your principal residence. Enter amount here only if line 1e is checked</Description>
							<LineNumber>Part II Line 10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Depreciable Property Used Or Held -->
			<xsd:element name="DepreciablePropUsedOrHeldAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciable property used or held for use in a trade or business, or for the production of income, if not reduced on line 5</Description>
							<LineNumber>Part II Line 11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Land Used Or Held -->
			<xsd:element name="LandUsedOrHeldAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Land used or held for use in a trade or business of farming</Description>
							<LineNumber>Part II Line 11b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Property Used Or Held -->
			<xsd:element name="OtherPropertyUsedOrHeldAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other property used or held for use in a trade or business, or for the production of income</Description>
							<LineNumber>Part II Line 11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Passive Activity Loss And Credit Carryover -->
			<xsd:element name="PassiveActyLossAndCrCyovAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any passive activity loss and credit carryovers from the tax year of the discharge</Description>
							<LineNumber>Part II Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Credit Carryover -->
			<xsd:element name="ForeignCreditCarryoverAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applied to reduce any foreign tax credit carryover to or from the tax year of the discharge</Description>
							<LineNumber>Part II Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ================Part III: Consent of Corporation to Adjustment of Basis of its Property Under Section 1082(a)(2) ================ -->

			<!-- Amount Excluded Under Section Pt III 1081(B) -->
			<xsd:element name="ExcludedUnderSectPtIII1081BAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount excluded under section pt iii 1081(b)</Description>
							<LineNumber>Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year Beginning -->
			<xsd:element name="TaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year beginning</Description>
							<LineNumber>Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year Ending -->
			<xsd:element name="TaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year ending</Description>
							<LineNumber>Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- State Of Incorporation -->
			<xsd:element name="IncorporationStateCd" type="StateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>State of incorporation</Description>
							<LineNumber>Part III</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
